.poi-plugin-auto-refresher {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.poi-plugin-auto-refresher .panel {
    margin-bottom: 5px;
}

.poi-plugin-auto-refresher .btn {
    margin-top: 0;
}
