.poi-plugin-auto-refresher {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.poi-plugin-auto-refresher .panel {
    margin-bottom: 5px;
}

.poi-plugin-auto-refresher .btn {
    margin-top: 0;
}

.poi-plugin-auto-refresher .panel-body > ul {
    margin-bottom: 0;
}

.poi-plugin-auto-refresher .btn.rule-delete {
    padding: 4px 8px;
    margin-right: 5px;
}

.poi-plugin-auto-refresher .btn.tri-button {
    width: 7em;
}

#poi-plugin-auto-refresher [aria-labelledby="auto-refresher-select-map"] .menu-item > a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#poi-plugin-auto-refresher.poi-app-tabpane {
    display: flex;
    flex-direction: column;
}

#poi-plugin-auto-refresher .map-rule-panel > .panel-heading {
    padding: 5px 10px;
}

#poi-plugin-auto-refresher .map-rule-panel .panel-body {
    padding: 10px 8px 5px;
    display: grid;
    grid: auto / 3em 1fr 3em;
    grid-gap: 5px 5px;
}

#poi-plugin-auto-refresher .map-rule-panel > .panel-heading > div > a {
    display: flex;
    width: 100%;
}

#poi-plugin-auto-refresher .map-rule-panel .panel-body::before {
    display: none;
}
